
###> symfony/framework-bundle ###
APP_ENV=prod
APP_SECRET=5a6016fa6ef23793602b54920f11fef2
DATABASE_URL="mysql://root:secret@db:3306/paysera_demo?serverVersion=8.0&charset=utf8mb4"
DEFAULT_URI=http://localhost:8080/
###< symfony/framework-bundle ###
